:root
{
    --grey1: rgb(147, 147, 147);
    --dark: #000000;
    --white: #ffffff;

}

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html
{
    font-size: 62.5%;

}

html::-webkit-scrollbar
{
    display: none;
}

body
{
    background: var(--dark);
    font-family: 'Helvetica', sans-serif;
}

main
{
    background: var(--dark);
    height: auto;
    min-width: 240px;
    max-width: 768px;
    margin: 0 auto;
    outline: 2px dashed red;
}

.main-header
{
    height: 80px;
    width: 100%;
    max-width: 768px;
    min-width: 240px;
    padding: 0 18px 0 12px;
    background-image: linear-gradient(to top, rgba(255,0,0,0), rgb(0, 0, 0));
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    /* background-color: var(--grey1);      */
}

.main-header img
{
    width: 34px;
}

.user-tools img
{
    height: 24px;
    width: 24px;
    margin-left: 20px;
}

.user-tools a:nth-child(3) img
{
    border-radius: 4px;
}

.user-tools a:nth-child(1) img
{
    width: 28px;
}

.primary-section
{
    width: 100%;
    height: 60vh;
    background-image: url("https://images2.minutemediacdn.com/image/fetch/c_fill,g_auto,f_auto,h_389,w_590/https%3A%2F%2Fnetflixlife.com%2Ffiles%2F2022%2F08%2FEOTR_20210617_Unit_06842_R-850x560.jpg");
    background-position: top;
    background-size: cover;
}

.gradient-cover
{
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgb(0, 0, 0));
}

.cover-movie
{
    width: 100%;
    height: 60vh;
    background-image: url("../assets/covers/covermovie-logo1.png");
    background-position: bottom;
    background-size: cover;
    
}

.profiles-container 
{
    display: block;
    text-align: left;
    max-width: 768px;
    height: 100%;
    padding-top: 40px;
    margin: 0 auto;
    line-height: 1.2rem;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.profiles-container-list
{
    align-items: center;
    inset: 0px;
    display: flex;
    flex-direction: column;
    z-index: 100%;
}

.profiles-link
{
    display: block;
    width: 100%;
    line-height: 14.4px;
}

.profiles-link span
{
    margin: 20px 0 20px 10px;
    font-size: 1.8rem;
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    color: var(--white);
    line-height: 36px;
}

.movies-container-slider
{
    display: flex;
    width: 100%;
    height: 178px;
    padding-left: 10px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.movies-container-slider::-webkit-scrollbar
{
    display: none;
}

.movies-container-slider a
{
    margin: 4px 8px 0 0 ;
    height: 100px;
}

.movies-container-slider img
{
    height: 148px;
}

@media only screen and (min-width: 426px) 
{
    .cover-movie
    {
        background-image: url("../assets/covers/covermovie-logo1-tablet.png");
        background-position: bottom left;
        background-size: cover;
    }
}